/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/ 

.fl-slide-2 .fl-slide-foreground {
    margin: 60px;
}

div#topbar ul {
  margin: 0;
  padding: 0;
}
div#topbar .fl-rich-text p {
  margin: 0;
  padding: 0;
}
div#topbar ul.storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

div#topbar ul.storename .address a:before,
div#topbar ul.storename p.inline_address a:before {
  content: "\F041";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

body {
  font-size: 16px !important;
  font-family: "Alegreya", serif !important;
}
.display_none {
  display: none;
}
.fl-page-bar-row .storename {
  margin: 0;
}
.page-id-543663 .uabb-image-carousel-item {
  display: block !important;
}
.page-id-543663 .slick-track .uabb-image-carousel-content img {
  height: 250px !important;
  width: 250px !important;
}

.fl-slide-0 {
  z-index: 1;
}
.fl-page-bar-row .storename li .phone a::before {
  font-size: 20px;
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: sub;
  margin-right: 5px;
}
#breadcrumbs a {
  color: #d41c28;
}
#responsive-menu-additional-content .storename li .phone span {
  color: #fff !important;
}
.location-ph-no .fl-icon-wrap .storename li .phone span {
  font-weight: 600 !important;
  font-size: 21px;
}
.button-wrapper-inner .button.fea-coupon_btn {
  display: none !important;
}
.additonal-resource-links .fl-button-wrap a {
  background: transparent !important;
  border: none !important;
  color: #d41c28 !important;
}
.additonal-resource-links .fl-button-wrap a:hover *,
.page-id-885544 .fl-builder-content div.fl-module-button a.fl-button:hover * {
  background: transparent !important;
  border: none !important;
  color: #d41c28 !important;
}
div.location-ph-no .fl-module-content .fl-icon i:before {
  font-size: 25px;
  vertical-align: text-bottom;
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 20px;
}
.brand_slider .uabb-image-carousel-item {
  display: block !important;
}

#gform_16 li.gfield {
  padding-left: 15px !important;
}
.f-0 {
  margin: 0;
}
.f-0 .fl-module-content.fl-node-content {
  margin: 0;
}
.f-0 h1 {
  font-size: 0;
  margin: 0;
}

ul.menu li a span.menu-item-text,
ul#menu-copyright-bar-menu li a,
footer .iPadFooter .fl-rich-text p,
.fl-builder-content div.fl-module-button a.fl-button,
.fl-builder-content div.fl-module-button a.fl-button:visited {
  font-weight: 600 !important;
}
.fl-builder-content div.fl-module-button a.fl-button,
.fl-builder-content div.fl-module-button a.fl-button:visited {
  text-transform: capitalize !important;
}

footer ul.menu li a,
body,
.fl-rich-text *,
.fl-module-uabb-business-hours .uabb-business-day,
.fl-module-uabb-business-hours .uabb-business-hours,
.phone > a span,
.fl-module-info-box .uabb-infobox-content .uabb-infobox-text,
.fl-slide .fl-slide-content-wrap .fl-slide-content h1.fl-slide-title,
div.fl-module-heading h1.fl-heading,
.fl-module-advanced-tabs .uabb-tabs .uabb-tabs-nav li a,
.fl-module-uabb-heading h2.uabb-heading,
.fl-module-uabb-heading .uabb-heading-wrapper h2.uabb-heading,
.fl-module-uabb-heading h5.uabb-heading,
.fl-module-uabb-heading .uabb-heading-wrapper h5.uabb-heading,
.fl-builder-content .fl-module-info-box h3.uabb-infobox-title,
.fl-module-uabb-heading
  .fl-module-content.fl-node-content
  .uabb-module-content
  .uabb-text-editor,
.fl-module-info-box h2.uabb-infobox-title,
.fl-module-uabb-gravity-form .uabb-gf-style form .gform_body .gfield_label {
  font-weight: 500 !important;
}
.post-349326 .fl-module-info-box .uabb-infobox-content .uabb-infobox-text {
  font-weight: 400 !important;
}
footer div.fl-module-heading .fl-heading {
  font-weight: bold !important;
}
.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #88a09e;
}

.headerMain .fl-col-group {
  display: flex;
  justify-content: space-between;
}

.fullWidthBanner img {
  width: 100%;
}

.phone > a span {
  font-weight: 400;
  color: #88a09e;
}

.phone > a:hover span {
  color: #a03126;
}

.iscwp-gallery-slider .slick-dots li button,
.wpsisac-slick-carousal .slick-dots li button {
  border: 1px solid #88a09e;
}
ul#menu-top-bar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#product-images-holder.colorwall-exlusive-batch
  .popup-imgs-holder
  .main-imgs
  img,
#product-images-holder.colorwall-exlusive-batch .img-responsive img {
  height: 400px !important;
  width: 400px !important;
}
.iscwp-gallery-slider .slick-dots li.slick-active button,
.wpsisac-slick-carousal .slick-dots li.slick-active button {
  background: #a03126 !important;
  border: 1px solid #a03126;
}
.uabb-gf-style .gform_wrapper .gform_footer input[type="submit"]:hover,
.uabb-gf-style .gform_page .gform_page_footer input[type="submit"] {
  border: 1px solid #88a09e !important;
}
.uabb-creative-menu .storename .phone a:before,
#responsive-menu-additional-content .storename li .phone:before {
  font-size: 18px;
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
#responsive-menu-additional-content .storename li .phone:before {
  color: #fff;
}
#responsive-menu-container #responsive-menu-search-box,
#responsive-menu-container #responsive-menu-additional-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.searchIcon i:hover {
  cursor: pointer;
}
.privacy-policy-phone-no {
  display: flex;
}
.privacy-policy-phone-no .storename {
  margin-left: 10px;
}
.fl-node-5c6fdfb62273f a:hover,
.storename a:hover p,
.storename a:hover span,
.footermenu .menu-item a:hover {
  color: #88a09e !important;
}

header .storename .phone > a:hover span {
  color: #000 !important;
}
div.searchIcon .fl-module-content .fl-icon i:before {
  font-size: 22px;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0 !important;
}
.fl-module-uabb-advanced-menu .uabb-creative-menu .menu > li {
  margin: 0 5px;
}
.wpsisac-slick-carousal.design-6 .slick-next {
  right: -40px !important;
}
.wpsisac-slick-carousal.design-6 .slick-prev {
  left: -40px !important;
}

ul.social-icons li {
  margin-bottom: 0;
}

.facet_filters .clear_search_btn,
.facet_filters .close_sidebar_button .close_sidebar,
.open_sidebar a.fl-button {
  text-transform: uppercase;
}

.footerWrapperPhone .fl-icon,
#footerWrapperLoc .fl-icon {
  padding-top: 15px;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #630a0a;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #630a0a;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

.fl-page-bar .fl-page-bar-row a {
  font-size: 16px !important;
  line-height: 20px !important;
}
.fl-page-bar ul.storename li .inline_address {
  margin: 0px !important;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #d41c28;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #000000 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Alegreya", serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #f22800 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #f22800 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #000000 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #f22800 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f22800 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #000000 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Alegreya", serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #f22800 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #f22800 !important;
}
.facet_wrap button,
.page-info .pagination_wrapper > div button,
div#mm-product-list .facet_wrap button,
.products-list
  .product-plp-grid.product-grid.swatch.facetwp-template1
  .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a,
.row.search-row .posts_search_result .product-item a.fl-button,
div#search-result-page
  .product-plp-grid
  .product-item
  .fl-post-grid-post
  .fl-post-grid-text
  .fl-button {
  background: #f30000 !important;
  color: #fff !important;
  border: none;
  text-transform: uppercase !important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper > div button:hover,
div#mm-product-list .facet_wrap button:hover,
.products-list
  .product-plp-grid.product-grid.swatch.facetwp-template1
  .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover,
.row.search-row .posts_search_result .product-item a.fl-button:hover,
div#search-result-page
  .product-plp-grid
  .product-item
  .fl-post-grid-post
  .fl-post-grid-text
  .fl-button:hover {
  background: #f22800 !important;
  color: #fff !important;
  border: none;
  text-transform: uppercase !important;
}
a.linkcustompdpbtnlink.d-block {
  margin-top: 10px;
}

.product-plp-grid
  > .product-row
  > .col-lg-4
  > .fl-post-grid-post
  .product-grid.btn-grey
  > h4
  > span:first-child,
.row.search-row .posts_search_result.post_list.product-grid.swatch h2,
div#search-result-page
  .product-plp-grid
  .product-item
  .fl-post-grid-post
  .fl-post-grid-text
  h4
  > span:first-child {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px !important;
  line-height: 1.2em;
  min-height: 34px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gform-footer.gform_footer.top_label input {
  max-width: max-content;
  width: max-content;
  padding: 12px 24px;
}

.gfield_captcha_input_container.math_medium input {
  width: 80px !important;
}	
  

@media (min-width: 1024px) {
  .fl-slide.fl-slide-1 .fl-slide-photo {
    margin-bottom: 60px !important;
  }
}
@media (max-width: 1024px) {
  .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .headerMain .headerRightNav {
    margin-left: 30px;
  }

  .fl-node-5d08ac826d1d6
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
    padding: 10px 8px !important;
  }
  .headerMain ul#menu-main-menu li a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 992px) {
  button#responsive-menu-button {
    display: block !important;
  }
  .headerMain .headerRightNav,
  .headerRightNav ~ .fl-visible-mobile .phone.retailer {
    display: none;
  }
  .headerRightNav ~ .fl-visible-mobile {
    display: block !important;
  }
  div.headerLogo {
    width: 100%;
    max-width: 100% !important;
  }
}
@media (max-width: 992px) {
  .fl-page-bar .fl-page-bar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fl-page-bar-text-1 ul.storename li .phone {
    text-align: left;
  }
  .fl-page-bar-text-1 ul.storename li .phone > a span {
    font-size: 16px !important;
  }
  .fl-page-bar-row > div {
    width: 50%;
  }
  .fl-page-bar .fl-page-bar-row a {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .searchIcon {
    position: static;
  }
  .post-2 .fl-row-custom-height.fl-row-align-center > .fl-row-content-wrap {
    min-height: auto;
  }

  /* button#responsive-menu-button {
        top: 0 !important;
    } */

  .wpsisac-slick-carousal.design-6 .slick-next {
    right: -20px !important;
  }

  .wpsisac-slick-carousal.design-6 .slick-prev {
    left: -20px !important;
  }
  .headerMain .fl-col-group {
    display: flex;
    align-items: center;
  }

  .headerMain .headerRightNav {
    margin: 0;
  }

  .headerMain .headerLogo {
    flex: 2;
  }

  .headerMain .phone.retailer span {
    font-size: 0;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  .iPadFooter .fl-col-group {
    display: flex;
  }

  .iPadFooter .fl-col-group .fl-col {
    flex: 1;
  }

  ul#menu-copyright-bar-menu {
    display: flex;
  }

  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
    flex: 3;
  }

  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
    flex: 1;
  }
  /* .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    } */

  .galleryImages .uabb-photo-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  .fl-content-slider .fl-slide-0 .fl-slide-bg-link {
    z-index: 2;
  }
  .fl-slide-0 .fl-slide-foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .fl-slide-0 .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 512.25px;
  }
  ul.store-opening-hrs {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .fl-slide-0 .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content {
    /* height: 300px; */
  }
  .highlightPoits .fl-col-group .fl-col {
    width: 100% !important;
  }
  #gform_submit_button_16 {
    margin-left: 0px !important;
  }
  .highlightPoits .fl-col-group .fl-col .fl-col-content {
    border: 0;
  }
  .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text > p {
    margin-bottom: 0;
  }
  footer .fl-module * {
    text-align: center !important;
  }
}
/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  .fl-page-content .fl-module-content.fl-node-content * {
    text-align: center;
  }
  .fl-page-content .fl-module-content.fl-node-content ul *,
  .fl-page-content .fl-module-content.fl-node-content ol *,
  .fl-page-content .facet_filters *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content ul *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content * {
    text-align: left;
  }

  .fl-page-content .fl-row-bg-overlay:first-child .fl-row-content-wrap {
    min-height: 400px;
  }

  .fl-page-content
    .formRow.fl-row-bg-overlay:first-child
    .fl-row-content-wrap {
    min-height: auto;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
/* PLP Page Css iPad Air */
@media (max-width: 480px) {
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item,
  .uabb-masonary .uabb-masonary-item {
    width: 100% !important;
  }
  .iPadFooter .fl-col-group-equal-height .fl-module > .fl-module-content {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .footermenu ul#menu-flooring-menu,
  .footermenu .menu-inspiration-menu-container,
  .footermenu ul#menu-about-us {
    text-align: left;
  }
  .location-top .fl-button {
    text-align: unset;
  }
  .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
    right: 20px;
  }
  .fl-node-5d1f5d4b47fe6 [dir="rtl"] div.uabb-image-carousel .slick-prev {
    left: 20px;
  }
  .iPadFooter .fl-col-group {
    flex-direction: column;
  }
  .iPadFooter .fl-col-group .fl-col {
    flex: 2;
    width: 100% !important;
    text-align: center;
  }
  ul#menu-copyright-bar-menu {
    justify-content: center;
  }
  .headerMain .headerLogo .fl-photo-content img {
    max-width: 60%;
  }
  .fl-page-bar-text.fl-page-bar-text-1 a {
    justify-content: center;
  }
  button#responsive-menu-button.responsive-menu-button {
    width: 40px;
    height: 40px;
    top: 70px;
  }
  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
  ul#menu-copyright-bar-menu li a {
    padding: 5px 20px;
  }
}
.facetwp-selections ul:before,
div#mm-product-list .product-list-container .facet_filters strong {
  border-bottom: 2px solid #dd0202 !important;
  color: #dd0202 !important;
}
